{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>10МАТ</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">	
</head>
<body class="content" background="{% static "bg.jpg" %}">
	<header>
	<div class="title">10МАТ</div>
		<div class="menu">
			<ul class="menu-ul">
				<li class="menu-li"><a href="{% url "blog:list" %}">Новости</a></li>
				<li class="menu-li"><a href="{% url "table:tab" %}">Расписание</a></li>
				<li class="menu-li"><a href="#">Домашнее задание</a></li>
				<li class="menu-li"><a href="#">Фотогалерея</a></li>
				<li class="menu-li"><a href="#">Документы</a></li>
			</ul>
		</div>
	</header>
	<div>
		<form method="POST" action='{% url "blog:send" %}'>
			{% csrf_token %}
			<input type="text" name="title" size="80"><br>
			<textarea name="body" cols="70" rows="6"></textarea><br>
			<input type="submit" value="Отправить">
		</form>
	</div>
	<div>
		<table class="blog">
		{% for post in posts %}
			<tr>
				<td class="border_top"><h4>{{post.title}}</h4></td>
				<td align="right"  class="border_top"><a href="{% url "blog:del" id=post.id %}"><img width="25px" src="{% static "close.png" %}"></a></td>
			</tr>
			<tr><td colspan="2">{{post.body}}</td></tr>
			<tr><td colspan="2"><i>{{post.timestamp}}</i></td></tr>

		{% endfor %}
		</table>
	</div>
</body>
</html>