body{
	background: url("static/bg.jpg");
	font-size: 12pt;
}
.content {
	margin-left: 25%;
	margin-right: 25%;
}
.title{
	font-size: 60px;
	font-family: Courier,monospace;
	text-align: center;
}
.border_top{
	border-top-color: #4682B4;
	border-top-style: double;
}
.blog{
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
}
.menu{
	background-color: #008B8B;
}
ul.menu-ul{
	display: flex;
	padding: 0;
	justify-content: center;
}
li.menu-li{
	list-style: none;
	padding: 10px;
}