body{
	font-size: 12pt;
}
.content {
	margin-left: 25%;
	margin-right: 25%;
}
.title{
	font-size: 60px;
	font-family: Courier,monospace;
	text-align: center;
}
.border_top{
	border-top-color: #4682B4;
	border-top-style: double;
}
.blog{
	width: 100%;
}
.menu{
	background-color: #008B8B;
}
ul.menu-ul{
	display: flex;
	padding: 0;
	justify-content: center;
}
li.menu-li{
	list-style: none;
	padding: 10px;
}
li.menu-li a{
	 text-decoration: none;
	 font-size: 16px;
	 font-family: Cursive,cursive;
	 color: #000000;
	 padding: 5px;
}
li.menu-li:hover{
	background-color: #20B2AA;
}
.pict{
	padding: 10px;
	width: 190px;
	position: static;
}
.pict:hover{
	width: 200px;
	transition: 0.5s;
}