{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>10МАТ</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">	
</head>
<body class="content" background="{% static "bg.jpg" %}">
	<header>
	<div class="title">10МАТ</div>
		<div class="menu">
			<ul class="menu-ul">
				<li class="menu-li"><a href="{% url "blog:list" %}">Новости</a></li>
				<li class="menu-li"><a href="{% url "table:tab" %}">Расписание</a></li>
				<li class="menu-li"><a href="#">Домашнее задание</a></li>
				<li class="menu-li"><a href="#">Фотогалерея</a></li>
				<li class="menu-li"><a href="#">Документы</a></li>
			</ul>
		</div>
	</header>
	<div>
		<table class="blog">
			<tr>
				<td><a href="{% static "Monday.png" %}" target="_blank"><img class="pict" src="{% static "mon.png" %}"></a></td>
				<td><a href="{% static "Tuesday.png" %}" target="_blank"><img class="pict" src="{% static "tue.png" %}"></td>
				<td><a href="{% static "Wednesday.png" %}" target="_blank"><img class="pict" src="{% static "wed.png" %}"></td>
			</tr>
			<tr>
				<td><a href="{% static "Thusday.png" %}" target="_blank"><img class="pict" src="{% static "thu.png" %}"></a></td>
				<td><a href="{% static "Friday.png" %}" target="_blank"><img class="pict" src="{% static "fri.png" %}"></td>
				<td><a href="{% static "Saturday.png" %}" target="_blank"><img class="pict" src="{% static "sat.png" %}"></td>
			</tr>
		</table>
	</div>
</body>
</html>